body {
    
background-image: url("whiterosy.jpg");
background-width: 100%;
background-height: 100%;
 }






h1{

text-align: center;
font-family: "Brush Script MT", cursive;
font-size: 72px;
font-style: normal;
font-variant: normal;
font-weight: 500;
text-shadow: 1px 1px 0 black;
color: 	#FFEFD5;
background-color: RosyBrown;
background-align: center top
border-bottom: 3px solid black;
}

.portrait{
    position: absolute;
    left: 60px;
    width: 300px;
    border: 3px solid black;
    padding: 10px;
    background-color: #FFEFD5;
}

.follow{
    position: absolute;
    left: 20px;
    top: 5px;
    width: 80px;
    height: 37px;
    border: 2px solid black;
    
}

.fpin{
    position: absolute;
    left: 110px;
    top: 5px;
    width: 80px;
    height: 37px;
    border: 2px solid black;
    
}

p{
text-align: left;
font-family: "Brush Script MT", cursive;
font-size: 30px;
font-style: normal;
font-variant: normal;
font-weight: 500;
text-shadow: 1px 2px 0 black;
padding-left: 35%;
padding-right: 10%;
color: #FFEFD5;

}

.nav{
    
    list-style:none;
    margin:40;
    padding:0;
    text-align:center;
    position: absolute;
    top: 110px;
    

}

.nav li{
    display:inline;
    font-family: "Brush Script MT", cursive;
    color: 	#FFEFD5;
    text-shadow: 1px 2px 0 black;
}
	
.nav a{
    display:inline-block;
    padding:10px;
    color: 	#FFEFD5;
    margin-top: 0px;
    font-size: 20px;
    text-align:center;
}